@import "../../../sass/basic";
@import "../../../sass/color";

.controller {
  display: flex;
  flex-direction: column;
  & .search-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    & input {
      margin-right: 13px;
    }
  }

  & .filter-section {
    margin-bottom: 30px;

    & .options {
      z-index: 10;
    }
  }

  & .order-section {
    margin-bottom: 30px;
  }
}
