@import "../../../sass/basic";
@import "../../../sass/color";

.taskDetail-wrapper {
  padding: 20px;

  & .taskDetail {
    display: flex;
    flex-direction: column;

    & .section {
      margin-bottom: 34px;
      & .title {
        color: $blue;
        font-size: $font-h3;
        font-weight: 700;
        letter-spacing: 0.5px;
      }

      &.labels {
        & .labels {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }
  }

  & .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
