@import "../../sass/basic";
@import "../../sass/color";

.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: $white;

  & .navi-section {
    z-index: 10;
    position: fixed;
    width: 100%;
  }

  & .profile-section {
    z-index: 10;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  & .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;

    & .taskList-section {
      padding: 80px 48px 80px 80px;

      & .head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;

        & .repo.bold {
          font-size: $font-h1;
          font-weight: 700;
          color: $blue;
        }
      }
    }

    & .controller-section {
      width: 316px;
      padding: 80px 48px 80px 0;
    }
  }
}
