@import "../../sass/basic";
@import "../../sass/color";

.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: $white;

  & .navi-section {
    position: absolute;
    width: 100%;
  }

  & .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;

    & .taskList-section {
      padding: 80px 48px 80px 80px;

      & .add-button {
        margin-bottom: 30px;
      }
    }

    & .controller-section {
      padding: 80px 48px 80px 48px;
    }
  }
}
