@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap");

div,
button {
  font-family: "Hind", "Times New Roman", Times, serif;
}

$font-h1: 24px;
$font-h2: 20px;
$font-h3: 18px;
$font-h4: 16px;
$font-h5: 14px;
$font-p: 12px;
