$blue: #374B71;
$pure-white: #FFF;
$white: #F5F6F8;
$gray: #E4E8EB;
$light-gray: #F0F0F0;
$dark-gray: #AFAFAF;
$black: #35373A;
$light-blue: #7993C5;
$green: #82A974;
$light-green: #B0CCA7;
$orange: #DA8454;
$light-orange: #E4B69C;