$blue: #374b71;
$light-blue: #7993c5;
$pure-white: #fff;
$white: #f5f6f8;
$gray: #e4e8eb;
$light-gray: #f0f0f0;
$dark-gray: #afafaf;
$double-dark-gray: #767676;
$black: #35373a;
$green: #82a974;
$light-green: #b0cca7;
$orange: #da8454;
$light-orange: #e4b69c;
