@import "../../../sass/basic";
@import "../../../sass/color";

.modal-wrapper {
  position: relative;
  border-radius: 9px;
  background-color: $white;
  padding: 32px;

  & .modal {
    display: flex;
    flex-direction: column;

    & .title-section {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      & .label {
        font-size: $font-h3;
        font-weight: 600;
        letter-spacing: 1px;
        color: $blue;
      }

      & .input-section {
        margin-right: 20px;
      }
    }

    & .repo-select {
      margin-bottom: 20px;
      z-index: 10;
    }

    & .markdown-section {
      margin-bottom: 20px;
    }

    & .footer {
      display: flex;
      justify-content: end;

      & button {
        margin-left: 10px;
      }
    }

    & .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
