@import "../../../sass/basic";
@import "../../../sass/color";
.dropdown {
  display: flex;

  &.row {
    flex-direction: row;
    align-items: center;

    & .title {
      font-size: $font-h2;
      font-weight: 700;
      letter-spacing: 1px;
      color: $white;
      margin-right: 10px;
    }
  }

  &.column {
    flex-direction: column;

    & .title {
      font-size: $font-h3;
      font-weight: 600;
      letter-spacing: 0.5px;
      color: $blue;
    }
  }

  & .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    &.active {
      & .input .selected {
        color: $blue;
      }

      & .input .icon img {
        transform: rotateZ(180deg);
      }

      & .options {
        visibility: visible;
        opacity: 1;
        top: 30px;
      }
    }

    & .input {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-radius: 8px;
      border: 1.5px solid $blue;
      padding: 4px 9px 2px 9px;
      background-color: $white;
      cursor: pointer;
      color: $dark-gray;

      &:hover {
        background-color: $light-gray;
      }

      & .selected {
        color: $blue;
      }

      & .icon {
        & img {
          transition: all 0.5s;
        }
      }
    }

    & .options {
      position: absolute;
      overflow: hidden;
      width: 100%;
      opacity: 0;
      top: 25px;
      visibility: hidden;
      background-color: $white;
      border-radius: 5px;
      border: 1.5px solid $blue;
      margin-top: 5px;
      font-size: $font-p;
      color: $black;
      transition: all 0.5s;

      & ul {
        width: calc(100% + 15px);
        max-height: 130px;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;

          & button {
            padding: 3px 5px;
            background-color: none;
            border: none;
            width: 100%;
            height: 100%;
            text-align: left;
            background-color: $white;
            word-wrap: break-word;

            &:hover {
              cursor: pointer;
              background-color: $light-gray;
            }
          }
        }
      }
    }
  }
}
