@import "../../../sass/basic";
@import "../../../sass/color";

.toggle-wrapper {
  position: relative;
  display: block;

  & .toggle{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color: $gray;
    width: 50px;
    height: 25px;
    border-radius: 30px;
    border: 1px solid $blue;
    padding: 3px;
    overflow: hidden;
    transition: all 0.5s;
    cursor: pointer;

    &.open {
      background-color: $blue;
      justify-content: end;
    }

    & .button {
      padding: 0;
      width: 50%;
      border-radius: 50%;
      background-color: $pure-white;
    }
  }
}