@import "../../../sass/basic";
@import "../../../sass/color";

.taskList-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 760px;

  & .taskList {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;

    &.has-data {
      border: 1.5px solid $blue;
    }

    & .task-wrapper:last-child {
      border-bottom: none;
    }
  }

  & .err {
    display: flex;
    flex-direction: column;
    color: $blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $gray;
  }
}
