@import "../../../sass/basic";
@import "../../../sass/color";

.markdown {
  position: relative;
  width: 100%;
  height: calc(100% - 28px);
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;

  & img {
    width: 100%;
  }

  & code {
    font-size: $font-p;
    background-color: $gray;
    border-radius: 5px;
    padding: 1px 4px;
    color: $blue;
    overflow-x: scroll;
  }

  & table,
  th,
  td {
    border: 1px solid $dark-gray;
    border-collapse: collapse;
  }

  & h1,
  h2 {
    border-bottom: 1px solid $dark-gray;
  }
}
