@import "../../../sass/basic";
@import "../../../sass/color";

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  width: 100%;

  @media screen and (max-width: 1023px) {
    display: block;
  }

  & .avatar-wrapper {
    width: 5%;
    position: relative;
    margin-right: 14px;
  }

  & .content {
    width: 95%;
    display: flex;
    flex-direction: column;

    & .info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & .left {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;

        & .link {
          margin-right: 17px;
        }
      }

      & .function {
        display: flex;
        flex-direction: row;

        & .right {
          display: none;

          &.show {
            display: block;
          }

          & .button {
            justify-content: end;
          }
        }
      }
    }

    & .context-wrapper {
      border: 1.5px solid $blue;
      border-radius: 5px;
      background-color: $white;
      overflow: hidden;
      width: 100%;

      & .markdown {
        height: 100%;
        width: 100%;
        word-break: break-word;
        margin: 0;
      }
    }
  }
}
