@import "../../../sass/basic";
@import "../../../sass/color";

.issueDetail-wrapper {
  padding: 20px;

  @media screen and (max-width: 1023px) {
    padding: 0 10px 0 0;
  }

  & .issueDetail {
    display: flex;
    flex-direction: column;

    & .section {
      margin-bottom: 34px;
      & .title {
        color: $blue;
        font-size: $font-h3;
        font-weight: 700;
        letter-spacing: 0.5px;
      }

      &.labels {
        & .list {
          color: $blue;
          font-size: $font-h5;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }

      &.milestone {
        & .empty {
          color: $blue;
          font-size: $font-h5;
        }
      }

      &.assignees {
        & .list {
          color: $blue;
          font-size: $font-h5;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          & .avatar-wrapper {
            margin-right: 5px;
          }
        }
      }
    }
  }

  & .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
