@import "../../../sass/basic";
@import "../../../sass/color";

.link {
  text-decoration: none;

  &.issuelist {
    & .repo {
      font-size: $font-h3;
      color: $light-blue;
      word-break: break-word;

      &.close {
        color: $dark-gray;
      }
    }

    & .issue {
      font-size: $font-h3;
      color: $blue;
      font-weight: 600;
      word-break: break-word;

      &.close {
        color: $dark-gray;
      }
    }

    & .quick-info {
      font-size: $font-p;
      color: $dark-gray;
    }
  }

  &.issue {
    & .repo {
      font-size: $font-h2;
      color: $light-blue;
      word-break: break-word;
    }

    & .issue {
      font-size: $font-h1;
      color: $blue;
      word-break: break-word;
    }

    & .username {
      font-size: $font-h5;
      color: $blue;
    }

    & .milestone {
      font-size: $font-h5;
      color: $blue;
    }
  }
}
