@import "../../../sass/basic";
@import "../../../sass/color";

.err-wrapper {
  font-size: $font-h4;
  color: $blue;
  text-align: center;
  padding-bottom: 20px;

  &.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $gray;
    z-index: 9;
  }

  & .err {
    display: flex;
    flex-direction: column;
    color: $blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $gray;
    margin: 10px 0;
  }

  & .resolve {
    font-size: $font-h5;
    color: $double-dark-gray;
  }
}
