@import "../../../sass/basic";
@import "../../../sass/color";

.err-wrapper {
  font-size: $font-h4;
  color: $blue;
  text-align: center;

  & .err {
    display: flex;
    flex-direction: column;
    color: $blue;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: $gray;
    margin: 10px 0;
  }

  & .resolve {
    font-size: $font-h5;
    color: $double-dark-gray;
  }
}
