@import "../../../sass/basic";
@import "../../../sass/color";

.task-wrapper {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1.5px solid $blue;
  background-color: $white;

  & .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .left {
      display: flex;
      flex-direction: row;

      & .toggle-section {
        padding: 0 16px;
      }

      & .content-section {
        display: flex;
        flex-direction: column;

        & .upper {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: wrap;

          & .link {
            margin-right: 12px;
          }

          & .labels {
            display: flex;
            flex-wrap: wrap;
          }
        }

        & .middle {
          margin: 0;
          & p {
            display: -webkit-box;
            margin: 0;
            margin-right: 10px;
            color: $blue;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            max-height: 80px;
          }
        }

        & .lower {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $dark-gray;

          & .number {
            font-size: $font-p;
            margin-right: 6px;
          }

          & .time {
            margin-right: 6px;
          }

          & .creator {
            font-size: $font-p;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }

    & .right {
      margin-right: 16px;
    }
  }
}
