@import "../../../sass/basic";
@import "../../../sass/color";

.task-wrapper {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1.5px solid $blue;
  background-color: $white;

  & .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    & .left {
      display: flex;
      flex-direction: row;
      align-items: center;

      & .toggle-section {
        padding: 0 16px;
      }

      & .content-section {
        display: flex;
        flex-direction: column;

        & .upper {
          display: flex;
          flex-direction: row;
          align-items: center;

          & .link {
            margin-right: 12px;
          }

          & .labels {
            display: flex;
          }
        }

        & .lower {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: $dark-gray;

          & .number {
            margin-right: 6px;
          }

          & .time {
            margin-right: 6px;
          }

          & .creator {
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
      }
    }

    & .right {
      margin-right: 16px;
    }
  }
}
